#banner-1 {
		/*background-image:url(images/overlay.png),url(../images/Banner-4.jpg);*/
        background-image:url(images/overlay.png),url(../images/Banner-1.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #ffffff;
        height:700px;
		padding: 16em 0em 14em;
		text-align: center;
	}

.wrapper {
		padding: 2em 0em 4em;
        border-top: 1px solid rgba(7,13,18,0.1);
	}


