body, html {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color:  #fff;
}

header {
    border: 5px solid black;   
    margin: 50px auto;
    width: 90%;
}
    header h1 {
        text-align: center;
    }
    
.wapper{
    background-color: #d2d2d2;
    border: 5px solid black;  
}            
   .wapper.height-prin{
       height: 150px; 
       margin:25px auto;
       width: 90%; 
    }
                
  .wapper.height-secon{
        height:300px;
        margin:25px auto;
        width: 90%; 
    }
